@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-backgrounddark dark:text-gray-100;
    /* background-color: #f0e7db; */
    background-color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-img {
  background-image: url(../public/bg-hero.svg);
}

.hero {
  background-image: url(/paternbg1.png);
}
